@use "../abstracts/" as *;

/*************** header ***************/
.header-main {
  width: 100%;

  @include flex($direction: column);

  .header-main_top {
    width: 100%;
    padding: 18px 80px;

    @include flex($align: center, $justify: space-between, $gap: 24px);

    @include tablet {
      margin: 0 auto;
    }

    @include mobile {
        padding: 16px;
      }

    .header-main_logo,
    .hamburger-nav {
      @include flex($flex-basic: 40%);
      img {
        width: auto;
        height: 39px;
        display: block;
      }
    }

    nav {
      @include flex($flex-basic: 30%);
    }

    .menu_list {
      @include flex($direction: row, $justify: center, $align: center);
      list-style: none;
      gap: 16px;
      li {
        padding: 12px 8px;
        white-space: nowrap;
        a {
          font-size: pxToRem(18);
          line-height: pxToRem(16);
          color: $text-color;
          font-weight: 600;
          img {
            margin-left: 5px;
          }
        }
      }
    }

    .menu_actions {
      @include flex($gap: 16px, $flex-basic: 40%, $justify: flex-end);
      .btn {
        width: 103px;
        height: 48px;
        padding-left: 12px;
        padding-right: 12px;
      }
      .primary {
        width: 169px;
      }
    }

    //ViewPoint: mobile

    .mobile {
      display: none;
    }

    @include mobile {
      .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }

      //Navigation
      .header-main_logo .mobile {
        display: block;
        img {
          height: 24px;
        }
      }
      .menu_list {
        display: none;
      }
      .menu_actions {
        display: none;
      }
      .hamburger-nav {
        display: block;
        a {
          img {
            height: 24px;
          }
        }
      }
    }
  }
}
