@use "../abstracts/" as *;

.btn {
  padding: pxToRem(16);
  border: pxToRem(3) solid $primary-color;
  text-align: center;
  cursor: pointer;
  color: $text-third-color;
  background-color: $second-color;
  font-weight: 500;
  font-size: pxToRem(20);
  line-height: pxToRem(20);
  width: 204px;
  height: 56px;
}

.primary{
  color: $text-second-color;
  background-color: $primary-color;
}