@use "../abstracts/" as *;

.btn {
  padding: pxToRem(16);
  border: pxToRem(3) solid $primary-color;
  text-align: center;
  cursor: pointer;
  color: $text-third-color;
  background-color: $second-color;
  font-weight: 600;
}

.primary{
  color: $text-second-color;
  background-color: $primary-color;
}