@use "../../abstracts/" as *;

/***** Caption Page *****/

.caption {
  padding: 80px;
  @include flex($direction: column);
//   .contain-button-action {
//     text-align: center;
//   }
  @include mobile {
    padding: 10% 5%;
  }
  .caption-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    .caption-card {
      img {
        width: 96px;
        height: 96px;
      }
    }
  }

  @include mobile {
    .caption-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
