@use "../../abstracts/" as *;

/******* Tools Page *******/

.tools {
  padding: 80px;
  @include flex($direction: column, $gap: 64px);
  .tools-cards {
    article {
      .tools-card {
        figure {
          width: 48px;
        }
      }
    }
  }
  @include tablet {
    .tools-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      .tools-card {
        img {
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  @include mobile {
    align-items: center;
    padding: 10% 5%;
    gap: 32px;
    .tools-cards {
      margin: 10% 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
