@use "../../abstracts/" as *;

/******* Tools Page *******/

.tools {
  padding: 80px;
  // height: 532px;
  @include flex($direction: column);
  .contain-button-action{
    text-align: center;
  }

  @include mobile{
    align-items: center;
    padding: 10% 5%;
    .tools-cards{
      width: 60%;
      margin: 10% 0;
    }
  }
}
