@use "../../abstracts/" as *;

/******* Tools Page *******/

.tools {
  padding: 80px;
  // height: 532px;
  @include flex($direction: column);
  .contain-button-action{
    text-align: center;
  }

  @include tablet{
    .tools-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      .tools-card {
        img {
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  @include mobile{
    align-items: center;
    padding: 10% 5%;
    .tools-cards{
      width: 60%;
      margin: 10% 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
