@use "../abstracts/" as *;

.btn {
  padding: 16px;
  border: 2px solid $primary-color;
  text-align: center;
  width: auto;
  cursor: pointer;
  color: $text-third-color;
  background-color: $second-color;
  font-weight: 500;
  font-size: pxToRem(20);
  line-height: pxToRem(20);

.primary {
  color: $text-second-color;
  background-color: $primary-color;
}
.contain-button-action {
  text-align: center;
}

