@use "../abstracts/" as *;

.img-main {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.cards {
  margin: 4% 0; //4% margin top and bottom = 4% width parent
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 64px;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.card {
  display: block;
  text-align: center;
  padding: 0 5%;
  img {
    margin: 0 auto 5%;
    // width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;

    @include tablet {
      width: 48px;
      height: 48px;
      margin: 0 auto 23px;
    }

    @include mobile {
      width: 40px;
      height: 36px;
    }
  }
}
