@use "../abstracts/" as *;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}
.card {
  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 16px
  );
  text-align: center;
  figure {
    width: 100%;
    .img-main {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }
}
