@use "../abstracts/" as *;
@forward "button";
@forward "card";
@forward "title";

.container {
  width: 100%;
  margin: 0 auto;

  @include tablet {
    width: 100%;
    margin: 0 auto;
  }

  @include mobile {
    width: 100%;
    margin: 0 auto;
  }
}
