<header class="header-main">
  <div class="container">
    <!-- Start of header top -->
    <div class="header-main_top">
      <include
        src="./components/logo.html"
        locals='{"device": "desktop"}'
      ></include>

      <!-- Start of navigation -->
      <!-- navigation for desktop and tablet  -->
      <include
        src="./components/navbar.html"
        locals='{ "device": "desktop" }'
      ></include>

      <div class="menu_actions desktop">
        <button class="btn">Log In</button>
        <button class="btn primary">Start Free Trial</button>
      </div>

      <!-- ViewPoint: Mobile -->
      <!-- logo Mobile -->
      <include
        src="./components/logo.html"
        locals='{"device": "mobile"}'
      ></include>

      <!-- navigation for mobile  -->
      <include
        src="./components/navbar.html"
        locals='{ "device": "mobile" }'
      ></include>

      <div class="menu_actions mobile">
        <button class="btn">Log In</button>
        <button class="btn primary">Start Free Trial</button>
      </div>

      <div class="hamburger-nav mobile">
        <a href="#">
          <img src="../assets/icon/ic_plus_mobile.svg" alt="hamburger-nav" />
        </a>
      </div>
    </div>

    <!-- Start of header bottom -->
    <div class="header-main_bottom mobile">
      <div class="title-hero-page">
        <div class="title-hero">
          <div class="title-hero-1">
            <h1>Host Design Meetings From Anywhere</h1>
          </div>
          <div class="title-hero-2">
            <span>
              Unlock your design skills to create beautiful websites and apps
              with a poweful and easy-to-use tool.
            </span>
          </div>
        </div>

        <div class="title-hero-action">
          <button class="btn-hero-action btn primary">
            <span>Primary Action</span>
            <img
              src="../assets/icon/ic_arrow-right-light.svg"
              alt="ic_arrow-right-light"
            />
          </button>
          <button class="btn-hero-action btn">Secondary Action</button>
        </div>
      </div>
      <div class="hero-img">
        <div class="hero-img-top">
          <include
            src="./components/icon-list.html"
            locals='{
            "icons": ["ic_f-circle.svg", "ic_f-circle.svg", "ic_f-circle.svg"]
          }'
          ></include>
          <div class="ic-arrow">
            <a href="">
              <img
                src="../assets/icon/ic_arrow_left_not_active.svg"
                alt="ic_arrow_left_not_active"
              />
            </a>
            <a href="">
              <img
                src="../assets/icon/ic_arrow-right.svg"
                alt="ic_arrow-right"
              />
            </a>
          </div>
        </div>
        <figure class="hero-img-bottom">
          <img src="../assets/image/desktop/hero_video.png" alt="" />
        </figure>
      </div>
    </div>
  </div>
</header>