<main>
  <!-- Tools section -->
  <section class="tools">
    <div class="title">
      <h2 class="title-primary">The tools you need</h2>
      <span class="title-secondary"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
      >
    </div>

    <!-- Tools Cards -->
    <div class="tools-cards cards">
      <!-- Start tools card -->
      <include
        src="./components/card.html"
        locals='{"class": "tools-card", "cardImage": "../assets/icon/ic_calendar.svg", "cardName": "ic_calendar"}'
      >
      </include>
      <include
        src="./components/card.html"
        locals='{"class": "tools-card", "cardImage": "../assets/icon/ic_luggage.svg", "cardName": "ic_luggage"}'
      >
      </include>
      <include
        src="./components/card.html"
        locals='{"class": "tools-card", "cardImage": "../assets/icon/ic_activity.svg", "cardName": "ic_activity"}'
      >
      </include>
      <include
        src="./components/card.html"
        locals='{"class": "tools-card", "cardImage": "../assets/icon/ic_car.svg", "cardName": "ic_car"}'
      >
      </include>
    </div>

    <!-- Tools button actions -->
    <include
      src="./components/button-primary.html"
      locals='{"classButton": "tools-button"}'
    >
    </include>
  </section>
</main>
