<main>
  <!-- Tools section -->
  <section class="tools">
    <div class="title">
      <h2 class="title-primary">The tools you need</h2>
      <span class="title-secondary"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
      >
    </div>

    <!-- Tools Cards -->
    <div class="tools-cards cards">
      <!-- Start tools card -->
      <article>
        <div class="tools-card card">
          <img src="../assets/icon/ic_calendar.svg" alt="ic_calendar" />
          <p></p>
            Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.
          </p>
        </div>
      </article>
      <article>
        <div class="tools-card card">
          <img src="../assets/icon/ic_luggage.svg" alt="ic_luggage" />
          <p>Id eros pellentesque facilisi id mollis faucibus commodo enim.</p>
        </div>
      </article>
      <article>
        <div class="tools-card card">
          <img src="../assets/icon/ic_activity.svg" alt="ic_activity" />
          <p>Nunc, pellentesque velit malesuada non massa arcu.</p>
        </div>
      </article>
      <article>
        <div class="tools-card card">
          <img src="../assets/icon/ic_car.svg" alt="ic_car" />
          <p>Imperdiet purus pellentesque sit mi nibh sit integer faucibus.</p>
        </div>
      </article>
    </div>

    <!-- Tools button actions -->
    <div class="contain-button-action">
      <button class="btn-tools-action btn primary">Primary Action</button>
    </div>
  </section>
</main>
