<header class="header-main">
  <div class="container">
    <!-- Start of header top -->
    <div class="header-main_top">
      <a href="#" class="header-main_logo desktop">
        <img src="../assets/image/desktop/logo.png" alt="Logo Company" />
      </a>

      <!-- Start of navigation -->
      <!-- navigation for desktop and tablet  -->
      <nav class="desktop">
        <ul class="menu_list">
          <li>
            <a href="#" class="title--third link-main menu__link">Eleven</a>
          </li>
          <li>
            <a href="#" class="title--third link-main menu__link">Twelve</a>
          </li>
          <li>
            <a href="#" class="title--third link-main menu__link">Thirteen</a>
          </li>
          <li>
            <a href="#" class="title--third link-main menu__link"
              >Sixteen
              <img src="../assets/icon/ic_arrow_down.svg" alt="ic_arrow_down"
            /></a>
          </li>
        </ul>
      </nav>

      <div class="menu_actions desktop">
        <button class="btn">Log In</button>
        <button class="btn primary">Start Free Trial</button>
      </div>

      <!-- ViewPoint: Mobile -->
      <!-- logo Mobile -->
      <a href="#" class="header-main_logo mobile">
        <img src="../assets/image/mobile/logo_mobile.png" alt="Logo Company" />
      </a>

      <!-- navigation for mobile  -->
      <nav class="mobile">
        <ul class="menu_list">
          <li>
            <a href="#" class="title--third link-main menu__link">Eleven</a>
          </li>
          <li>
            <a href="#" class="title--third link-main menu__link">Twelve</a>
          </li>
          <li>
            <a href="#" class="title--third link-main menu__link">Thirteen</a>
          </li>
          <li>
            <a href="#" class="title--third link-main menu__link"
              >Sixteen
              <img src="../assets/icon/ic_arrow_down.svg" alt="ic_arrow_down"
            /></a>
          </li>
        </ul>
      </nav>

      <div class="menu_actions mobile">
        <button class="btn">Log In</button>
        <button class="btn primary">Start Free Trial</button>
      </div>

      <div class="hamburger-nav mobile">
        <a href="#">
          <img src="../assets/icon/ic_plus_mobile.svg" alt="hamburger-nav" />
        </a>
      </div>
    </div>

    <!-- Start of header bottom -->
    <div class="header-main_bottom"></div>
  </div>
</header>
